<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta charset="UTF-8"/>
<title>shop</title>
<!-- Bootstrapの設定 -->
<link th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
<!-- CSSの読込 -->
<link th:href="@{/css/style.css}" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
<!-- ヘッダ -->
<div id="wrapper">
    <div class="container-fluid title-area">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1"></div>
                <div class="col-4 text-center">
                    <a class="home-link" th:href="@{/home}">SHOP</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <a th:href="@{/cart/show}"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        </header>
    </div>
    <!--<p class="text-center"><a class="home-link" th:href="@{/home}">SHOP</a></p>-->
    <!--<p><i class="fas fa-shopping-cart"></i></p>-->

    <ul class="nav justify-content-center categories">
        <li class="nav-item"><a th:href="@{/category/mens_outerwear}" class="nav-link">Men's Outerwear</a></li>
        <li class="nav-item"><a th:href="@{/category/mens_tshirts}" class="nav-link">Men's T-Shirts</a></li>
        <li class="nav-item"><a th:href="@{/category/ladies_outerwear}" class="nav-link">Ladies Outerwear</a></li>
        <li class="nav-item"><a th:href="@{/category/ladies_tshirts}" class="nav-link">Ladies T-Shirts</a></li>
    </ul>

    <!-- コンテンツ -->
    <div th:include="__${contents}__"></div>

    <!-- フッタ -->
    <footer class="text-muted text-center text-small">
        <p class="mb-1">© 2020 SHOP</p>
    </footer>
</div>
<script>
    // 数量変更処理
    $(function() {
        $('.inputQty').change(function () {
            const itemId = $(this).attr('id');
            const quantity = $(this).val();
            $('.param_id').val(itemId);
            $('.param_qty').val(quantity);
            $('#hidden-form').submit();
        });
    });
</script>
</body>
</html>
